.menu {
    font-family: sans-serif;
    display: flex;
    flex-flow: row;
    gap: 20%;
    justify-content: center;
    align-items: center;

}

.opcion {
    white-space: nowrap;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}


.opcion:hover {
    color: #878686;
    transform: scale(1.2); 
}