
.home{
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las columnas */
}

.columUno, .columDos {
    flex: 1; /* Permite que las columnas crezcan para ocupar el espacio disponible */
    text-align: center; /* Centra el texto dentro de cada columna */
    padding: 10px; /* Añade padding alrededor del contenido de cada columna */
  }

.imgVioletaHome{
    width: 65%;
    height: 65%;
}
  
.circle {
    position: relative;
    transform: translate(30%, -115%);
    width: 450px;  
    height: 450px; 
    background-color: #10667979;  
    border-radius: 50%;
    z-index: -1; 
}

.contratarContainer{
    border: 2px solid #106579;
    background-color: #106579;
    border-radius: 100px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
}

.contratar{
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contratar:hover{
    color: #878686;
    transform: scale(1.1); 
}

.tituloHome{
    color: #1E0E62; 
    font-size: 58px;
    font-family: serif;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: left;
    vertical-align: top;
    width: 90%;
    margin-top: 40%;
    margin-left: 10%;
    line-height: 70px;
}

.descripcionHome{
    line-height: 32px;
    font-size:  22px;
    color: #D2D1D9; 
    text-align: left;
    vertical-align: top;
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
}

.logoTransparente{
    position: absolute;
    width: 20%;
    margin-top: 10%;
    margin-left: -15%;
    opacity: 0;
    transition: margin-left 2s ease, opacity 1.5s ease;
}


.logoTransparente:hover{
    opacity: 1;
    margin-left: -12%;
}

.scrolServicios{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #106579;
}
.tituloScroll1{
    color: white; 
    font-size: 58px;
    font-family: serif;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: left;
    vertical-align: top;
    width: 90%;
    margin-top:10%;
    margin-left: 20%;
    line-height: 70px;
}

.subtituloScroll1{
    color: white; 
    font-size: 38px;
    font-family: serif;
    letter-spacing: -1px;
    text-align: left;
    vertical-align: top;
    width: 90%;
    margin-top: 1.5%;
    margin-left: 22%;
    line-height: 1px;
}