.header {
    background-color: #106579;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15%; /* Espacio entre columnas, opcional */
    height: 8vh;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
}

