.loginContainer{
    color: #FCFFE3;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 20%;
    font-family: sans-serif;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.singUpLink, .loginLink{
    text-decoration: none;
    color: #FCFFE3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.loginLink:hover, .singUpLink:hover {
    color: #878686;
    transform: scale(1.1); 
}


.singUpContainer{
    border: 2px solid #FCFFE3;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.singUpText{
    margin: 5px 5px 5px 5px;
}